<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'users')}">
<head>
    <meta charset="UTF-8">
    <title>User - Index Page</title>
</head>
<body>
<!--/*@thymesVar id="user" type="com.semjasa.vernocsyndicates.models.User"*/-->
    <h1 th:text="#{users}">User Index Page</h1>

    <table id="users" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px">Id</th>
            <th style="width: 150px">First Name</th>
            <th style="width: 150px">Last Name</th>
            <th style="width: 150px">Full Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user?.id}"></td>
            <td th:text="${user?.firstName}"></td>
            <td th:text="${user?.lastName}"></td>
            <td th:text="${user?.fullName}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>